<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>

        <link rel="stylesheet" href="/css/dashboard.css">
        <script src="/scripts/dashboard.js" defer></script>
    </head>
    <body>
        <%- include('partials/navbar') %>

        <main class="container pb-4">
            <div class="page-title">
                <div class="headings">
                    <h1 class="header"><%= locals.header %></h1>
                    <div class="sub-heading"><%= locals.subHeader %></div>
                </div>
            </div>
            <br>

            <section id="charts">
                <div class="card card-tile">
                    <div class="card-body">
                        <h2 class="card-title">CPU Usage</h2>
                        
                        <h5 class="card-subtitle mb-2 text-muted">Daily</h5>
                        <div class="cpu-chart">
                            <canvas id="daily-chart"></canvas>
                        </div>
                        <hr>
                        <h5 class="card-subtitle mb-2 text-muted">Weekly</h5>
                        <div class="cpu-chart">
                            <canvas id="weekly-chart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="card card-tile">
                    <div class="card-body">
                        <h2 class="card-title">Optimal Number of Machines</h2>

                        <div class="optimal-chart">
                            <canvas id="optimal-chart"></canvas>
                        </div>
                        <br>
                        <div class="form-group">
                            <span>
                                <label for="exampleId">Idle Threshold:</label>
                            </span>
                            <div class="input-group">
                                <input class="form-control" type="number" id="idleThresholdInput" value="0.015" step="0.001">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include('partials/footer') %>

        <script>
            let targetedFarm = "fnccuweb<%= locals.subHeader %>".toLowerCase();
        </script>
    </body>
</html>